.home_container {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgb(186, 215, 228) 90%,
    rgb(177, 208, 223) 80%
  );
  max-width: 1500px;
}

.banner_img {
  height: calc(450px - 100%);
  width: 100%;
  object-fit: cover;
  margin-bottom: 0;
  z-index: -1;
  margin-bottom: -150px;
}

.product_container {
  background: rgb(182, 211, 223);
  background: linear-gradient(
    180deg,
    rgba(172, 207, 221, 1) 0%,
    rgba(172, 207, 221, 1) 35%,
    rgba(220, 224, 224, 1) 85%
  );
  margin: 10px;
}

.home_row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: rem;
}
